<section class=" single-wrap">
            <div class="">
                
                

               <div class="content1 boxs">
                    <div class="row">
						
                        <div class="col-md-12">
                            
                            <form class="uploaditem">
                           			
                           
								
                            			
								
                                
                                
                                
                                

                                 <div class="space">
                                    <label>Cuantanos sobre tu experiencia, escribe tu CV. </label>
                                    <!--<button  ng-click="$ctrl.showEditor()" class="btn btn-info">Abrir Editor
                                    </button>-->
                                    <div text-angular ng-model="$ctrl.user.description" style="width: 100%"></div>
                    
                        </div>
						


                            
                                
                                <button ng-click="$ctrl.update()" class="btn btn-primary">Actualizar Biografia</button>
                               
								
								
                            </form>
                        </div><!-- end col -->
						
						
                        

                        

                    </div><!-- end row -->
                </div><!-- end content -->
                
               
                <br>

            </div><!-- end container -->
        </section>